{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <!-- site metas -->
  <title>Tytuł</title>
  {% comment %} <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.ico" type="image/x-icon" /> {% endcomment %}
  <!-- thirdparty css -->
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <!-- style css -->
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css" />
  {% block head %}{% endblock head %}
</head>

<body>
   <!-- header -->
   <div class="container-fluid" id="header-container-fluid">
    <header class="container sticky-top d-md-block d-none" id="header">
      <div class="row justify-content-between align-items-center" id="nav_row">
        <div class="col-auto d-flex justify-content-center align-items-center ps-0" id="nav_left">
          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling">
            <i class="bi bi-list nav-menu-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
              aria-controls="offcanvasScrolling"></i>
          </button>

          <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
              <h1 class="offcanvas-title" id="offcanvasScrollingLabel">
                Kategorie
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              {% for ctg in all_categories %}
              <!-- all categories -->
              <a href="{{ ctg.get_absolute_url }}">
                <p class="category-name">
                  <i class="{{ ctg.category_icon }}"></i>{{ ctg.title }}
                </p>
              </a>
              <!-- /all categories -->
              {% endfor %}
            </div>
          </div>
          <a href="{% url 'main:index' %}" class="d-flex text-dark text-decoration-none align-items-center">
            <h1 class="main-title">Tytuł</h1>
          </a>
        </div>

        <div class="col-12 col-lg-8" id="nav_search">
          <form action="{% url 'search' %}" method="get">
            <input id="query" name="query" type="search" class="form-control" {% if request.GET.q %}value="{{ request.GET.query }}"{% else %} placeholder="Szukaj..." {% endif %} aria-label="Search" />
          </form>
        </div>

        <div class="col-auto d-flex" id="nav_right">
          <div class="container d-inline-block p-0">
            <div class="row">

              <!-- account -->
              <div class="col-4">
                <div class="dropdown">
                  <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill fs-4"></i>
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a>
                      {% else %}
                      <a class="dropdown-item" href="{% url 'accounts:signup-login' %}">Sign in</a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /account -->

              <!-- favorite -->
              {% with total_items=favorite|length %}
              <div class="col-4">
                <div class="dropdown">
                  <a href="{% url 'favorite:favorite_detail' %}" class="d-flex text-decoration-none" id="favoriteNavIcon">
                    <i class="bi bi-heart-fill fs-4"></i>
                    {% if total_items %}
                      <span class="navbar-heart__notify">
                        {{ total_items }}
                      </span>
                    {% endif %}
                  </a>
                </div>
              </div>
              {% endwith %}
              <!-- /favorite -->

              <!-- cart -->
              {% with total_items=cart|length %}
              <div class="col-4">
                <div class="dropdown">
                  <a href="{% url 'cart:cart_detail' %}" class="d-flex text-decoration-none" id="dropdownCart">
                    <i class="bi bi-cart-fill fs-4"></i>
                    {% if total_items %}
                    <span class="navbar-pc__notify">
                      {{ total_items }}
                    </span>
                    {% endif %}
                  </a>
                </div>
              </div>
              {% endwith %}
              <!-- /cart -->

            </div>
        </div>
      </div>
      
    </header>
  </div>
  <div class="mob-nav-bar-top d-md-none container-fluid d-block fixed-top container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-auto"><h1 class="main-title">Tytuł</h1></div>
      <div class="col-auto"><i class="bi bi-search"></i></div>
    </div>
  </div>
  <div class="mob-nav-bar-bottom d-block d-md-none fixed-bottom container-fluid">
    <div class="row d-flex justify-content-evenly">
      <div class="col-auto"><i class="bi bi-house-door-fill"></i></div>
      <div class="col-auto"><i class="bi bi-menu-button-wide"></i></div>
      <div class="col-auto"><i class="bi bi-cart-fill"></i></div>
      <div class="col-auto"><i class="bi bi-heart-fill"></i></div>
      <div class="col-auto"><i class="bi bi-person-fill"></i></div>
    </div>
  </div>
  <!-- /header -->
  {% block content %}  {% endblock content %}


      
  <!-- footer -->
  <div class="container-fluid" id="footer-container-fluid">
    <footer class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a class="text-decoration-none link-dark" href="#" target="_blank"><span class="footer_title">Tytuł</span></a>
        </div>
        <div class="d-flex align-items-center text-white copyright-text text-wrap">
          Fragmenty tej zawartości są ©2023 autorstwa poszczególnych autorów Tytułu
        </div>
        <div class="footer_icon ">
          <ul class="d-flex gap-3 list-unstyled mt-3">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <!-- /footer -->
  <script src="{{ STATIC_PREFIX }}js/bootstrap.bundle.min.js"></script>
  <script src="{{ STATIC_PREFIX }}js/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script>
    var csrfToken = '{{ csrf_token }}';
  </script>
  <script src="{{ STATIC_PREFIX }}js/script.js"></script>
  {% block scripts %}  {% endblock scripts %}
</body>

</html>