
<!-- product card -->
{% load product_quantity %}
  <div class="product-card">
    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
      <div class="product-thumb">
        <div class="product-img"><img src="{% if product.product_main_img.url %}{{ product.product_main_img.url }} {% else %} {{ product.product_main_img }}{% endif %}" alt="{{ product.title }}"></div>
        <a href="#" class="text-decoration-none text-dark"><i class=" bi bi-heart" id="icon-heart"></i></a>
        <div class="modal-quick-view">
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal-quick-view{{ forloop.counter }}">
            szybki podgląd
          </button>
        </div>
      </div>
      <div class="product-details">
        <h5 class="price">{{ product.price }} zł</h5>
        <a href="{{ product.get_absolute_url }}" class="card-title text-decoration-none">{{ product.card_title|truncatechars:20 }}</a>
      </div>
    </a>
    <div class="product-bottom-details text-center p-1">
      <button class="card-add" data-url="{% url 'cart:cart_add' product.id %}" data-product-id="{{ product.id }}"{% if product.id|stringformat:"s" in cart.get_products_ids %}hidden{% endif %}>Dodaj do koszyka</button>
      <div class="quantity" {% if product.id|stringformat:"s" not in cart.get_products_ids %}hidden{% endif %}>
        <button type="button" class="quantity__minus" data-url="{% url 'cart:cart_add' product.id %}">
          <i class="fa-solid fa-minus" style="color: black;"></i>
        </button> 
        <div class="product_quantity">
          {% product_quantity cart product.id %}
        </div>
        <button type="button" class="quantity__plus" data-url="{% url 'cart:cart_add' product.id %}">
          <i class="fa-solid fa-plus" style="color: black;"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-quick-view{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-quick-view" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div id="modal-quick-view-indicators{{ forloop.counter }}" class="carousel slide">
                {% with main_counter=forloop.counter %}
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#modal-quick-view-indicators{{ main_counter }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                  {% if product.thumbnail_images.all %}
                  {% for _ in product.thumbnail_images.all %}
                  <button type="button" data-bs-target="#modal-quick-view-indicators{{ main_counter }}" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
                  {% endfor %}
                  {% else %}
                  {% for _ in product.thumbnail_images %}
                  <button type="button" data-bs-target="#modal-quick-view-indicators{{ main_counter }}" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
                  {% endfor %}
                  {% endif %}


                </div>
                {% endwith %}
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% if product.product_main_img.url %}{{ product.product_main_img.url }} {% else %} {{ product.product_main_img }}{% endif %}" alt="{{ product.title }}">
                  </div>
                  {% if product.thumbnail_images.all %}

                  {% for img in  product.thumbnail_images.all %}
                    <div class="carousel-item">
                      <img src="{{ img.image.url }}" alt="{{ product.title }}">
                    </div>
                  {% endfor %}

                  {% else %}

                  {% for img in  product.thumbnail_images %}
                  <div class="carousel-item">
                    <img src="{{ img.image }}" alt="{{ product.title }}">
                  </div>
                  {% endfor %}

                  {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#modal-quick-view-indicators{{ forloop.counter }}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#modal-quick-view-indicators{{ forloop.counter }}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-6">
              <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark"><h4 class="title-quick-view">{{ product.title }}</h4></a>
              <p class="price">{{ product.price }} zł</p>
              <p class="card-title">{{ product.card_title }} zł</p>

              <div class="container-fluid p-0">
                <div class="row quick-view-rs">
                  <div class="col-10">
                    <div class="product-bottom-details text-center">
                      <button class="card-add" data-url="{% url 'cart:cart_add' product.id %}" data-csrf-token={% csrf_token %}>Dodaj do koszyka</button>
                    </div>
                  </div>
                  <div class="col-2 position-relative p-0 justify-content-start">
                    <div class="rs-heart align-content-center"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart" id="icon-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="modal-more-info text-center mt-auto mb-0 mx-0"><a href="{{ product.get_absolute_url }}" class="modal-more-info-a text-decoration-none text-dark">Więcej informacji o produkcie</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- /product card -->
