{% extends "base.html" %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


  {% block content %}
  <!-- main content -->
  <main class="container mt-5 mt-md-3 p-sm-0" id="category">
    <div class="nav-category container">
      <div class="row category-nav-name">
        <div class="col-auto">
          <a href="{{ subcategory.main_category.get_absolute_url }}">{{ subcategory.main_category.title }}</a><i class="bi bi-chevron-right text-dark">
          </i><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.title }}</a>
        </div>
      </div>
      <div class="row category-big-name">
        <div class="col-auto"><h1>{{ subcategory.title }}</h1></div>
      </div>
      <div class="row category-nav-name-buttons justify-content-between justify-content-md-start">
        {% for subcategory in subcategories %} 
        <div class="col-auto">
          <a href="{{ subcategory.get_absolute_url }}" class="text-decoration-none">
            <button>{{ subcategory.title }}</button>
          </a>  
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container main_cards">
      <div class="row">
        {% for product in all_products %}
          <div class="col-12 col-lg-3 col-sm-6">
            {% include 'product-card.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% include "pagination.html" %}
  </main>
  <!-- /main content -->
  {% endblock content %}